version: '3.8'

services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: catalogo-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./app:/var/www/app
      - ./routes:/var/www/routes
      - ./resources:/var/www/resources
      - ./public:/var/www/public
    ports:
      - "8000:8000"
    environment:
      - APP_NAME=Laravel
      - APP_ENV=local
      - APP_KEY=base64:N5T+qqjnIAtQgKvD2F84QuNxUbj8Xa7u81dO/NaI8OM=
      - APP_DEBUG=true
      - APP_URL=http://localhost:8000
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=db_catalogo
      - DB_USERNAME=sail
      - DB_PASSWORD=password
    depends_on:
      - db
    networks:
      - catalogo-network

  db:
    image: mysql:8.0
    container_name: catalogo-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: db_catalogo
      MYSQL_ROOT_PASSWORD: password
      MYSQL_PASSWORD: password
      MYSQL_USER: sail
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - catalogo-network

volumes:
  dbdata:

networks:
  catalogo-network:
    driver: bridge