services:
  notification-service:
    build: .
    container_name: notification-service
    ports:
      - "3004:3004"
    environment:
      - PORT=3004
      - NODE_ENV=development
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - EMAIL_FROM=${EMAIL_FROM}
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - ORDERS_SERVICE_URL=http://orders-service:3000
      - JWT_TOKEN=${JWT_TOKEN}
      - EMAILS_QUEUE=${EMAILS_QUEUE}
      - PAYMENT_QUEUE=${PAYMENT_QUEUE}
      - ORDER_QUEUE=${ORDER_QUEUE}
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3004/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 30s

volumes:
  rabbitmq_data:

networks:
  app-network:
    driver: bridge